<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top Member</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<style>
    .judul{
        background-color:#ffc107;
        font-size: 18px;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <br><br>
    <h2 class="text-center">Top Member</h2>
    <table class="table">
        <form th:action="@{/bonus/cari/member/paling-banyak}" method="GET">


    <table class="table">
        <thead>
        <tr class="judul">
            <th>No</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Tanggal Pendaftaran</th>
            <th>Jenis Kelamin</th>
            <th>Jumlah Pembelian</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="member, iterationStatus : ${listTopMember}"
            th:style="${iterationStatus.even} ? 'background-color: #f7f7f7':'background-color: #d3d3d3'">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${member.namaMember}"></td>
            <td th:text="${#dates.format(member.tanggalLahir, 'yyyy-MM-dd')}"></td>
            <td th:text="${member.tanggalPendaftaran}"></td>
            <td th:text="${member.jenisKelamin} == 0 ? 'Laki-laki' : 'Perempuan' "></td>
            <td th:text="${member.listPembelian.size}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>