<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Barang berhasil ditambahkan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<style>
    .teks{
        font-size: 40px;
        padding-top: 10%;
        text-align: center;
        padding-left: 7%;
        padding-right: 7%;
    }
    .kembali{
        text-align: left;
        margin-top: 20px;
        color: #ffc107;
        font-size: 18px;
        border-color: #ffc107;
    }

</style>

<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="text-center">
    <h2 class="teks">
        <span th:text="'Pembelian dengan dengan nomor invoice '"></span>
        <span th:text="${noInvoice}"  style="color: #ffc107; font-weight:bold"></span>
        <span th:text="' berhasil dihapus'"></span>
        <span th:text="' dan stok barang'"></span>
        <span th:each="pb, iterationStatus : ${listPembelianBarang}">
            <span th:text="${pb.barang.namaBarang}"  style="color: #ffc107;" ></span>
            <span  th:if="${iterationStatus}==0" th:text="'bertambah menjadi'" ></span>
            <span  th:unless="${iterationStatus} == 0" th:text="'menjadi'" ></span>
            <span th:text="${pb.barang.stok}" style="color: #ffc107;" ></span>
            <span  th:unless="${iterationStatus.index}==${listPembelianBarang.size-1}" th:text="','" ></span>
            <span  th:if="${iterationStatus.index}==${listPembelianBarang.size-1}" th:text="'.'" ></span>
        </span>
    </h2>
    <a href="/pembelian/" class="btn btn-sm kembali">Kembali</a>
</div>
</body>
</html>