<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand font-weight-bold text-light" href="/">SIELEKTHOR</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link active"  th:href="@{/barang}" style="color: black" >
                Barang
            </a>

            <a class="nav-item nav-link active" th:href="@{/pembelian}" style="color: black">
                Pembelian
            </a>

            <a class="nav-item nav-link active"  th:href="@{/member}" style="color: black">
                Member
            </a>

            <a class="nav-item nav-link active"   th:href="@{/cari/pembelian}" style="color: black">
                Filter Pembelian
            </a>
            <a class="nav-item nav-link active"   th:href="@{/bonus/cari/member/paling-banyak}"  style="color: black">
                Bonus
            </a>



        </ul>
    </div>
</nav>
</body>
</html>